*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto' sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #222831;
  --pri-color: #393E46;
  --sec-color: #00ADB5;
  --main-color: #EEEEEE;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

#menuIcon {
  position: fixed;
  top: 40px;
  right: 60px;
  cursor: pointer;
  z-index: 999;
}

.menuBox {
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 100%;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

.menuBox.openMenu {
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 0;
}

.menuBox.openMenu ul li {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.5s;
}

.menuBox ul li {
  list-style: none;
  margin: 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
}

.menuBox ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 600;
  position: relative;
  text-shadow: 0 0 0 var(--sec-color);
  transition: text-shadow 0.5s, transform 0.5s;
}

.menuBox ul li a:hover {
  text-shadow: -3px 3px 0 var(--sec-color);
  transform: translateY(-6px);
}

.menuBox ul li a::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--main-color);
  position: absolute;
  bottom: 19px;
  right: -18px;
  opacity: 0;
  box-shadow: 0 0 0 var(--sec-color);
  transition: box-shadow 0.5s;
}
.menuBox ul li a:hover::after {
  opacity: 1;
  box-shadow: -2px 2px 0 var(--sec-color);
}

.about {
  width: 100%;
  height: 100vh;
}

.title{
  position:absolute;
  top: 10vh;
  left: 90vh;
  font-size: 5px;
  font-family: 'Poppins';
  letter-spacing: 0.2em;
  cursor: default;
  transform:prespective(1000px) translate(-50%,-50%);
  transform:skewY(15deg);
  transition:0.5s;
  z-index: -1;
}

.title:hover{
  transform:prespective(1000px) translate(-50%,-50%);
  transform:skewY(0deg);
}

.title h1 span{
  position:absolute;
  top:0;
  left:0;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  text-transform:uppercase;
  font-size:12em;
  color:#fff;
  transform-style:preserve-3d;
  transition:0.8s;
}
.title h1 span:nth-child(1){
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.title h1 span:nth-child(2){
  color: var(--sec-color);
  transform:translate(-50%,-50%) skewX(-60deg);
  left:-38px;
  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.title h1 span:nth-child(3){
  transform:translate(-50%,-50%) skewY(0deg);
  left:-76px;
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

.title:hover h1 span:nth-child(2), 
.title:hover h1 span:nth-child(3){
  transform:translate(-50%,-50%) skewX(0deg);
  left:0;
  color:#fff;
}

.collab {
  position: relative;
  z-index: -1;
  top: 20vh;
  left: 10vh;
  cursor: default;
}

.info {
  position: absolute;
  margin-right: 5vh;
  top: 27vh;
  left: 110vh;
  color: var(--main-color);
  font-family: 'Poppins';
  font-size: 15px;
  letter-spacing: 0.2em;
  cursor: default;
  z-index: -1;
}

.team{
  width: 100%;
  height: 100vh;
}

.title2{
  position: relative;
  top: 10vh;
  left: 90vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 5px;
  font-family: 'Poppins';
  letter-spacing: 0.2em;
  cursor: default;
  transform:prespective(1000px) translate(-50%,-50%);
  transform:skewY(3deg);
  transition:0.5s;
  z-index: -1;
}

.title2:hover{
  transform:prespective(1000px) translate(-50%,-50%);
  transform:skewY(0deg);
}

.title2 h2 span{
  position:absolute;
  top:0;
  left:0;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  text-transform:uppercase;
  font-size:12em;
  color:#fff;
  transform-style:preserve-3d;
  transition:0.8s;
}
.title2 h2 span:nth-child(1){
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.title2 h2 span:nth-child(2){
  color: var(--sec-color);
  transform:translate(-50%,-50%) skewX(-60deg);
  left:-38px;
  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.title2 h2 span:nth-child(3){
  transform:translate(-50%,-50%) skewY(0deg);
  left:-76px;
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

.title2:hover h2 span:nth-child(2), 
.title2:hover h2 span:nth-child(3){
  transform:translate(-50%,-50%) skewX(0deg);
  left:0;
  color:#fff;
}
  
.row {
  display: flex;
  flex-wrap:nowrap;
  text-align: center;
  padding-left: 2vh;
  padding-right: 2vh;
}

.column {
  width: 30%;
  padding: 0.5em 0;
}

.row h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
}

.card {
  box-shadow: 0 0 2.2em rgba( 25, 0, 58, 0.15);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: var(--sec-color);
  cursor: pointer;
  transition: 0.3s;
}

.card .img-container {
  width: 8em;
  height: 8em;
  background-color: var(--sec-color);
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}

.card img {
  width: 100%;
  border-radius: 50%;
}

.card h3 {
  font-weight: 500;
  font-family: 'Poppins';
}

.card p {
  font-weight: 300;
  font-family: 'Poppins';
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}

.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}

.card:hover {
  background: linear-gradient(#00939b, #00d0db);
  color: var(--main-color);
}

.card:hover .img-container {
  transform: scale(1.15);
}
