*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto' sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #222831;
  --pri-color: #393E46;
  --sec-color: #00ADB5;
  --main-color: #EEEEEE;
}

body {
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

section {
  text-align: center;
}

header {
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

#menuIcon {
  position: fixed;
  top: 40px;
  right: 60px;
  cursor: pointer;
  z-index: 3;
  animation: slideLeft 1s ease forwards;
}

.menuBox {
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 100%;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  z-index: 2;
}

.menuBox.openMenu {
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 0;
}

.menuBox.openMenu ul li {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.5s;
}

.menuBox ul li {
  list-style: none;
  margin: 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
}

.menuBox ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 600;
  position: relative;
  text-shadow: 0 0 0 var(--sec-color);
  transition: text-shadow 0.5s, transform 0.5s;
}

.menuBox ul li a:hover {
  text-shadow: -3px 3px 0 var(--sec-color);
  transform: translateY(-6px);
}

.menuBox ul li a::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--main-color);
  position: absolute;
  bottom: 19px;
  right: -18px;
  opacity: 0;
  box-shadow: 0 0 0 var(--sec-color);
  transition: box-shadow 0.5s;
}
.menuBox ul li a:hover::after {
  opacity: 1;
  box-shadow: -2px 2px 0 var(--sec-color);
}

#slider-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 1; /* Ensure the slider is above other content */
  text-align: center; /* Center the slider horizontally */
}

/* Styling for the slider */
.slider {
  width: 50%;
}

/* Styling for the page indicator */
#page-indicator {
  position: fixed;
  bottom: 40px; /* Adjust the position as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  z-index: 1;
}

/* Animation*/

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media
(prefers-reduced-motion: no-preference) {
html {
  scroll-behavior: smooth;
}
}